<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script type="text/javascript" src="/static/js/app.js" defer></script>
  </head>
  <body>
    <h1>This is the home page</h1>
    <p>Welcome to the home page. This page will be rendered using EJS.</p>
    <ul>
      <% for(var i=0; i < topics.length; i++) { %>
      <li>
        <a href="/topics/<%= topics[i] %>">study <%= topics[i] %></a>
      </li>
      <% } %>
    </ul>
    <a href="/">home</a>
  </body>
</html>
